.fadhile-live{
    position: relative;
}
body{
    overflow: scroll;
}
.navigationBar{
    position: absolute;
    top: 80%;
   left: 28%;
    background-color: rgb(37, 36, 36);
    padding: 20px;
    border-radius: 50px;
   display: flex;
   gap: 5%;
   width: 40%;
   align-items: center;
   color: white;
}
.content{
    position: absolute;
    width: 250px;
    height: 300px;
    padding: 25px;
    z-index: 1;
   display: none;
    background-color: #141313;
    border-radius: 20px;
    bottom: 50px;
    color: black;
}
.text{
    position: absolute;
    top: 30%;
    color: white;
    left: 30%;
    font-size: 70px;
}
hr{
    color: grey;
    border: solid 0.1px;
}
.dropup-Option:hover .content{
    display: block;
    color: grey;
}
#reservationsButton{
    border-radius: 30px;
    background-color: #A9A9A9;
    padding: 20px;
    margin-top: -10px;
    border: none;
    width: 100%;
    color: white;
}
a{
    text-decoration: none;
}
.dropup-content{
    position: absolute;
    width: 250px;
    height: 300px;
    padding: 20px;
    z-index: 1;
   display: none;
    background-color: white;
    border-radius: 20px;
    bottom: 50px;
    color: black;
}
.dropup:hover .dropup-content{
    display: block;
}
#text{
    color: white; 
}
#text:hover{
    color: grey;
}
#reservationsButton:hover{
    background-color: white;
    color: black;
}
#whatsappIcon{
    font-size: 30px;
}
#reservationsButton{
    border-radius: 30px;
    background-color: #A9A9A9;
    padding: 20px;
    margin-top: -10px;
    border: none;
    width: 100%;
    color: white;
}
.whatsappIcon{
    position: absolute;
    left: 95%;
    border: solid 2px white;
    padding: 15px;
    background-color: #141313;
    border-radius: 50%;
    top: 80%;
}
#liveImage{
    width: 100%;
    height: 200vh;
}
@media only screen and (max-width: 480px) and (min-width: 0px){
    .dropup-content{
        background-color: #141313;
        color: white;
        margin-left: -80px;
    }
    #liveImage{
        width: 100%;
        height: 50%;
     }
      #reservationsButton{
          margin-left: -3px;
          width: 90%;
          height: 1px;
         align-items: center;
          margin-top: 5px;
      }
      .navigationBar{
          width: 50%;
          left: 20%;
          margin-top: -15px;
          height: 3%;
          z-index: 1;
          top: 110%;
         }
         #text{
          display: none;
         }
         .text{
          background-color: #141313;
          height: 70%;
          color: white;
          font-size: 45px;
          margin-top: 150px;
          padding: 50px;
          left: 1%;
          width: 68%;
         }
         .whatsappIcon{
          left: 70%;
          z-index: 1;
         }
}
@media only screen and (max-width: 1020px) and (min-width: 481px){
    .text{
        background-color: #141313;
        height: 70%;
        color: white;
        font-size: 45px;
        margin-top: 450px;
        padding: 50px;
        left: 1%;
        width: 68%;
       }
       .whatsappIcon{
        left: 70%;
        z-index: 1;
       }
       .dropup-content{
        background-color: #141313;
        color: white;
        margin-left: -80px;
    }
    #liveImage{
        width: 80%;
        height: 50%;
     }
      #reservationsButton{
          margin-left: -10px;
          width: 90%;
          height: 1px;
         align-items: center;
          margin-top: 5px;
      }
      .navigationBar{
          width: 80%;
          left: 2%;
          margin-top: -15px;
          height: 3%;
          z-index: 1;
          top: 110%;
          padding: 1%;
         }
       
}