.reservations{
    display: flex;
    height: 500px;
}
.leftsideMenu{
    display: grid;
    position: relative;
    width: 50%;
    height: 100vh;
}
#reservationsImage{
    width: 85%;
    filter: brightness(30%);
    height: 902px;
}
.menuItems{
    position: absolute;
    top: 20%;
    left: 20%;
}
#bookButton{
    background-color: rgb(252, 213, 140);
    width: 100%;
    height: 50px;
    border: none;
}
body{
    overflow: hidden;
}
#text:hover{
    color: grey;
}
#reservationsButton:hover{
    background-color: white;
    color: black;
}
#ankole-logo{
    width: 50%;
    height: 30%;
    margin-bottom: 40px;
    margin-top: -80px;
}
#karibuText{
    font-size: 40px;
    color: white;
}
#kitisuru{
    font-size: 70px;
    color: orangered;
    margin-left: -20px;
}
#reservationsButton{
    border-radius: 30px;
    background-color: #A9A9A9;
    padding: 20px;
    margin-top: -10px;
    border: none;
    width: 130%;
    color: white;
    margin-left: -30px;
}
.navigationBar{
    position: absolute;
    top: 130%;
   left: -50%;
    background-color: rgb(37, 36, 36);
    padding: 20px;
    border-radius: 50px;
   display: flex;
   gap: 5%;
   width: 190%;
   align-items: center;
   color: white;
}
.dropup-content{
    position: absolute;
    width: 250px;
    height: 300px;
    padding: 20px;
    z-index: 1;
   display: none;
    background-color: white;
    border-radius: 20px;
    bottom: 50px;
    color: black;
}
.dropup:hover .dropup-content{
    display: block;
}
input{
    width: 100%;
    height: 40px;
    background-color: #141313;
    color: #A9A9A9;
    border: 2px solid grey;
}
a{
    text-decoration: none;
    color: white;
}
.form{
    background-color: #141313;
    width: 50%;
    padding: 30px;
    color: white;
    height: 800px;
    overflow: scroll;
    margin-left: -190px;
}
.form::-webkit-scrollbar{
    display: none;
}
form{
    width: 750px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}
input{
    width: 100%;
    height: 40px;
    background-color: #141313;
    color: #A9A9A9;
    border: 2px solid grey;
}
select{
    width: 100%;
    height: 50px;
    background-color: #141313;
    border: 2px solid grey;
    color: grey;
}
input:hover{
    border-color: green;
}
select:hover{
    border-color: blue;
}
.whatsappIconContacts{
    position: absolute;
    left: 95%;
    top: 90%;
    border: solid 2px white;
    padding: 15px;
    background-color: #141313;
    border-radius: 50%;
}
#whatsappIcon{
    font-size: 30px;
}
@media only screen and (max-width: 480px){
    .whatsappIconContacts{
        top: 90%;
        left: 70%;
        position: fixed;
    }
    input{
        width: 30%;
        margin-left: -50px;
    }
    label{
        margin-left: -50px;
    }
    select{
        width: 30%;
        margin-left: -50px;
    }
    .form{
        background-color: #141313;
        width: 81%;
        padding: 30px;
        color: white;
        height: 800px;
        overflow: scroll;
        margin-left: 0px;
        margin-top: 110px;
    }
    #karibuText{
        font-size: 20px;
        position: absolute;
        top: -50px;
        left: 20%;
    }
    #reservationsImage{
      width: 100%;
      height: 150%;
    }
    .reservations{
        display: grid;
    }
    #text{
        display: none;
    }
    #kitisuru{
        font-size: 35px;
    }
    .navigationBar{
        width: 60%;
        height: 10%;
        top: 230%;
       left: 10%;
       z-index: 1;
    }
    #reservationsButton{
        margin-left: -3px;
        width: 90%;
        height: 1px;
       align-items: center;
        margin-top: 5px;
    }
    #ankole-logo{
        width: 100%;
        position: relative;
        left: -20px;
        top: -40px;
    }
   body{
    overflow: scroll;
   }
   #bookButton{
    margin-left: -50px;
    width: 35%;
    border-radius: 10px;
   }
}
@media only screen and (max-width: 1020px) and (min-width: 481px){
    .whatsappIconContacts{
        top: 90%;
        left: 70%;
        position: fixed;
    }
    input{
        width: 90%;
        margin-left: -50px;
    }
    label{
        margin-left: -50px;
    }
    select{
        width: 90%;
        margin-left: -50px;
    }
    .form{
        background-color: #141313;
        width: 92%;
        padding: 30px;
        color: white;
        height: 800px;
        overflow: scroll;
        margin-left: 0px;
        margin-top: 280px;
    }
    #karibuText{
        font-size: 60px;
        position: absolute;
        top: 150px;
        left: 20%;
    }
    #reservationsImage{
      width: 100%;
      height: 150%;
    }
    .reservations{
        display: grid;
    }
    #text{
        display: block;
    }
    #kitisuru{
        font-size: 59px;
    }
    .navigationBar{
        width: 165%;
        height: 10%;
        top: 400%;
       left: -60px;
       z-index: 1;
    }
    #reservationsButton{
        margin-left: -50px;
        width: 150%;
        height: 1px;
       align-items: center;
        margin-top: 5px;
    }
    #ankole-logo{
        width: 45%;
        position: relative;
        left: 150px;
        top: -40px;
    }
   body{
    overflow: scroll;
   }
   #bookButton{
    margin-left: -50px;
    width: 90%;
    border-radius: 10px;
   }
}